/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Sail&display=swap');



// fonts
$base-font-size: 15;
$base-font: 'Jost', sans-serif;
$heading-font: 'Sail', cursive;



// color
$dark-gray: #101010;
$body-color: #5C5C5C;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black: #333;
$cyan: #848892;

$theme-primary-color: #657150;
$theme-primary-color-s2: #C8A898;
$theme-primary-color-s3: #A5AA9C;
$theme-primary-color-s4: #E5D1C7;
$body-bg-color: #fff;
$section-bg-color: #FCFDFA;
$section-bg-color-s2: #FAF2EE;
$section-bg-color-s3: #F1F3EE;
$section-bg-color-s4: #F5F5F5;
$text-color: #5C5C5C;
$text-light-color: #7b7b7b;
$heading-color: $dark-gray;
$heading-color2: #3F3F3F;
$border-color: #F3ECE9;
$border-color-s2: #e4ebf2;


// change-color

$theme-color-2:#835845;
$theme-color-3:#1e8267;
$theme-color-4:#de5ca2;
$theme-color-5:#d9ba91;
$theme-color-6:#99337f;
$theme-color-7:#18A7B5;
$theme-color-8:#668c25;
$theme-color-9:#ff8051;
$theme-color-10:#dd6673;
$theme-color-11:#d58675;
$theme-color-12:#b19a56;
$theme-color-13:#db7d37;
$theme-color-14:#699b9b;
$theme-color-15:#ea6e53;
